.btn-outline-success{
    background-color: #fff;
    color: #47a447;
    padding: 5px 8px;
    border: 1px solid #47a447;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
}

.btn-outline-success:hover{
    background-color: #47a447;
    color: #fff;
}

.modal{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* Ocultar a janela modal */
    display: none;
}

.conteudo-modal{
    margin: 0 auto;
    margin-top: 3%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
}

.cabecalho-modal{
    padding: 1px 8px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid #eee 1px;
}

.cabecalho-modal .cabecalho-titulo-modal{
    font-weight: bold;
    margin: 10px 0;
}

.cabecalho-modal .cabecalho-modal-fechar{
    padding: 20px 10px;
    cursor: pointer;
}

.corpo-modal{
    padding: 1px 8px 8px 8px;
}

.rodape-modal{
    border-top: solid #eee 1px;
    padding: 8px;
}